<h1>Bienvenue sur la liste des gossips  !</h1>
<h1>Bienvenue sur le comérage en follie !</h1>
<br/>
  <% @gossips.each do |gossip| %>
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= gossip.title %></h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Auteur: <%= gossip.user.first_name %></h6>
    
    <%= link_to("Voir le gossip", gossip_path(gossip.id), class:"btn btn-primary") %>
  </div>
  </div>
<% end %>