
<div class="background" style="background-image: url(<%= asset_path('surf.png') %>);">
  <div class="transbox">
    <h1>LA TEAM : Jay / Alexis / Jean-Marie</h1>
    <h1>Pour nous c'est la dream team,</h1>
    <h1>matin, midi, soir on fait du code</h1>
    <br/>
    <h2>la nuit, on rêve de code (rêve ou cauchemard, difficile à dire)</h2>
  	<br/>
      <h2>aux toilettes, on visionne des tutos sur le code</h2>
		<br/>
    <h2>au Cinéma, c'est pour voir des hackeurs s'emparer du MONDE
    </h2>
  </div>
</div>
