
<div class="background" style="background-image: url(<%= asset_path('contact_us.png') %>);">
  <div class="transbox">
    <h1>Contact page</h1>
    <h1>Pour contacter notre HelpDesk,</h1>
    <h1>il existe 3 possibilités:</h1>
    <br />
    <h2>par téléphone au 01.02.03.04.05 7/7 et 24h/24h</h2>
    <h2>par internet sur www.https.MonSite.fr</h2>
    <h2>
    par visite de l'une de nos 150 agences présentes en France
    métropolitaine
    </h2>
  </div>
</div>
